= form_for user, :validate => true, :builder => AdiskFormBuilder, :html => {:class => "document-form form-horizontal"} do |f|
  - f.display_label = false

  %div.row
    = f.column do
      = f.fieldset "Основная информация" do
        = f.prepended_for :email, :text, :placeholder => "email", :icon => "envelope", :hint => "hello"
        = f.prepended_for :password, :password, :placeholder => "password", :icon => "user"
        = f.prepended_for :password_confirmation, :password, :placeholder => "password confirmation", :icon => "user"
  %div.row
    = f.form_actions