%div{:class => "content-header clearfix"}
  %div{:class => "row"}
    %div{:class => "span10"}
      %h3 Пользователи
      %div{:class => "span2 pull-right"}
        %a.act.success{:href => "#{new_user_path}"}
          Создать
          %i.icon-star-empty.icon-large.pull-right


  %div{:class => "row"}
    %div{:class => "span10"}
      %ul{:class => "breadcrumb"}
        %li{:class => "active"}
          В работе
          %span.divider /
        %li
          %a{:href => "#"} На подписи
          %span.divider /
        %li
          %a{:href => "#"} Принятые
          %span.divider /
        %li
          %a{:href => "#"} Отклоненные

- @users.each do |user|
  %div.row.user
    %div.span
      %a(href="#{user_path(user)}")
        %img(src="http://placehold.it/120x120" alt="")
    %div.span3
      %p
        %strong Логин: 
        %span dubinin
      %p
        %strong email: 
        %span= user.email
      %p
        %strong Фамилия: 
        %span Дубинин
      %p
        %strong Имя
        %span Роман
      %p
        %strong Отчество 
        %span Евгеньевич
    %div.span3
      %p
        %strong Роли:
        %span Пользователь, Администратор
      %p
        %strong Заместители:
        %span Шуров Михаил Вадимович, Виквик
    %div.span2.pull-right
      %a.act{:href => "#{user_path(user)}"}
        Подробнее
        %i.icon-arrow-right.icon-large.pull-right
      %a.act.danger{:href => "#{user_path(user)}"}
        Заблокировать
        %i.icon-lock.icon-large.pull-right