%ul(class="nav nav-list" id="nav-main")
  %li
    %a(href="#{root_path}") В работе
  %li= link_to "На подпись", "#"
/%p(class="nav-header" data-toggle="collapse" data-target="#nav-documents") Документы
%ul(class="nav nav-list" id="nav-documents")
  %li(class="nav-header" data-toggle="collapse" data-target="#nav") Документы
  %li= link_to "Бюджеты", "#"
  %li= link_to "Заявки на оплату", "#"
  %li= link_to "Поступления", "#"
  %li= link_to "Служеные записки", "#"
  %li= link_to "Другие документы", "#"
%ul(class="nav nav-list" id="nav-repos")
  %li(class="nav-header") Справочники
  %li= link_to "Контрагенты", "#"
  %li= link_to "Счета", "#"
  %li= link_to "Организации", "#"
  %li= link_to "ЦФО", responsibility_centres_path
  %li= link_to "Статить доходов", "#"
  %li= link_to "Статить расходов", "#"
%ul(class="nav nav-list" id="nav-reports")
  %li(class="nav-header") Отчеты
  %li= link_to "Бюджетный календарь", "#"
  %li= link_to "БДДС", "#"
  %li= link_to "БДР", "#"
%ul(class="nav nav-list" id="nav-misc")
  %li(class="nav-header") Служебные
  %li= link_to "Пользователи", users_path
  %li= link_to "Бизнес-процессы", chainlets_path