%div{:class => "content-header"}
  %div{:class => "row"}
    %div{:class => "span10"}
      %h3
        - if header.back_path.present?
          = link_to header.back_path do
            %i.icon-backward
        = header.headline
      - if header.actions.any?
        %div{:class => "page-actions"}
          - header.actions.each do |act|
            %a{:class => "#{act[:type]}", :href => "#{act[:path]}"}
              =act[:text]
              %i{:class => "icon-#{act[:icon]} icon-large"}

  - if header.crumbs.any?
    %div{:class => "row"}
      %div{:class => "span10"}
        %ul{:class => "breadcrumb"}
          - header.crumbs.each do |crumb|
            %li
              =link_to crumb[:text], {:show => crumb[:value]}
              %span.divider /